@import "../ui/collapsable.css";
@import "../ui/shortcuts.css";
@import "../ui/utilities.css";
@import "../ui/requires.css";
@import "../ui/status-indicator.css";
@import "../ui/tst-privacy-permission.css";


/* The parent page will expand to fit this page's content, but there is a delay so the scrollbar will flash on and off if we don't hide it: */
:root.embeddedInExtensionPage body {
    overflow-y: hidden;
    font-size: 1.2em;
}
/* The parent page won't resize to fit the horizontal scrollbar so make sure that is never needed for body by showing the scrollbar for child elements instead. */
:root.embeddedInExtensionPage body > * {
    max-width: 100%;
    overflow: auto;
}


#topLinkToOptionsPage {
  float: right;
  padding-right: 1em;
}
:root:not(.embeddedInExtensionPage) #topLinkToOptionsPage {
  display: none;
}


input[type="text"] {
    width: 100%;
}


.internal-tst-id-buttons button {
    padding: 4px;
    margin-top: 8px;
}
.internal-tst-id-buttons #TST_InternalId_UpdateButton {
    float: right;
}

#resetSettingsButton {
    padding: 10px;
}
