@import "../ui/collapsable.css";
@import "../ui/shortcuts.css";
@import "../ui/utilities.css";
@import "../ui/requires.css";

body {
    overflow-y: hidden;
    font-size: 1.2em;
}


input[type="text"] {
    width: 100%;
}


.internal-tst-id-buttons button {
    padding: 4px;
    margin-top: 8px;
}
.internal-tst-id-buttons #TST_InternalId_UpdateButton {
    float: right;
}

#resetSettingsButton {
    padding: 10px;
}
